.postHeader {
  max-width: 60vw;
  text-align: center;
  margin: 0 auto;
}

.postHeader .postTitle {
  font-family: "Oswald";
  line-height: 1.1;
  font-size: 2.6rem;
}

.postHeader .postDate {
  font-family: "IBM Plex Serif";
  font-size: 1.6rem;
}

.postPage hr {
  margin: 5rem auto 5rem auto;
  border: none;
  background: transparent;
}

.postPage hr:after {
  display: block;
  text-align: center;
  content: var(--face, "///");
  font-family: monospace;
  font-size: 1.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  clear: both;
  border: none;
  color: black;
}

.postContent {
  margin: 0 auto;
  max-width: min(80vw, 80ch);
}

.postContent h1,
.postContent h2,
.postContent h3,
.postContent h4,
.postContent h5,
.postContent h6 {
  font-family: "Oswald";
  line-height: 1.2;
}

.postContent p {
  font-family: "IBM Plex Serif";
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-wrap: break-word;
  hyphens: auto;
}

.postContent .postReturnHome {
  text-align: left;
  font-family: monospace;
  font-size: 1.4rem;
  color: black;
}

.postContent .postFeelingLucky {
  text-align: right;
  font-family: monospace;
  font-size: 1.4rem;
  color: black;
}
